<div>
 <p>
 Hola {{ name }}
 </p>
 
 <p> Ha cambiado su contraseña. Le enviamos los nuevos datos de su cuenta </p>
 
  <p> Usuario: {{ username }} </p>
  
  <p> Contraseña: {{ password }} </p>
 
 


</div>
