#backend_userbundle_group_accesos{
float:left;
width: 90%;
}

/*#backend_userbundle_group_accesos input
{
  float:left;
}

#backend_userbundle_group_accesos label
{
  float:left;
 padding-right: 10px;
 padding-left: 4px;
}*/

.div_checkbox{
 width: 250px;
 float:left;
}

.div_checkbox input {
 float: left;
}

.div_checkbox label{
 float:left;
 padding-right: 10px;
 padding-left: 4px;
}
