<div class="control-group">

{{ form_label(form.name,"Nombre", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.name, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_marca_name_errorloc' class="help-inline error" >{{ form_errors(form.name) }}</div>
</div>
</div>
